h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-transform:uppercase;
    text-shadow: 3px 3px 4.5px aqua;
} 
p {
     color: aqua;
     background-color: black;
     text-align: justify;
 } 
 ol li {
     color: black;
 }
 ol li:nth-child(odd) {
     background-color: crimson;
 }
 ol li:nth-child(even) {
     background-color: chartreuse;
 }
 ol li:first-child {
     font-size: x-large;
 }
 ol li:last-child {
     font-size: x-small;
 }
 li:hover {
     font-size: xx-large;
     color: blue;
     background-color: fuchsia;
 }
 .list li {
     color: #576e00;
 }
 .list li:nth-child(odd) {
     background-color: dimgray;
 }
 .list li:nth-child(ever) {
     background-color: lightgreen;
 }
 #confuente {
     color: crimson;
     font-family: "Sigmar", sans-serif;
     font-weight: 400;
     font-style: normal;
 }
 .michroma-regular {
     font-family: "Sigmar", sans-serif;
     font-weight: 400;
     font-style: normal;
 }
