body {
  background-image: url("Ashpokemon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Pokemon Solid', sans-serif;
}

.overlay {
  background-color: rgba(0,0,0,0.6);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-portada {
  background-color: rgba(255, 0, 0, 0.6);
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  max-width: 600px;
  box-shadow: 0 0 30px yellow;
}

h1 {
  color: #FFCB05;
  text-shadow: 3px 3px #2a75bb;
}

p {
  color: white;
}

.btn-pokemon {
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}

.redes {
  margin-top: 20px;
}

.redes i {
  margin: 10px;
  font-size: 25px;
  transition: 0.3s;
}

.redes i:hover {
  transform: scale(1.3);
}

.fa-facebook { color: #1877F2; }
.fa-instagram { color: #E4405F; }
.fa-twitter { color: #1DA1F2; }
.fa-youtube { color: #FF0000; }
.fa-twitch { color: #9146FF; }